@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@font-face {
    font-family: 'fontelogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");}
body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(0, 0, 0);
      color: rgba(250, 250, 250, 0.993);
}
a {
   color:#606060;
   text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

header#cabecalho {
                  background-color: aliceblue;
                  color: rgb(0, 0, 0);   
}
header#cabecalho h1{
    font-family: 'fontelogo', sans-serif;
    font-size: 30px;
    color: #000000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding:  0px 0px 0px 210px;

}
header#cabecalho h2{
   font-family: "Titillium Web", sans-serif;
    font-size: 15px;
    color: #000000;
     padding: 0px 0px 0px 210px;
}
header#cabecalho img#icone {
         position: absolute;
         top: 10px;
}
header#cabecalho {
    border-bottom: 1px #b1b1b1 solid;
    height: 117px;}

nav#home {
    display: inline-block;
    background-color: #37424031;
    padding: 10px;
    margin: 6px;
   -webkit-transition: background-color 1s; -o-transition: background-color 1s; transition: background-color 1s;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position:absolute;
    top:10px ;
    left: 590px;}

nav#menu li{
    display: inline-block;
    background-color: #000000;
    padding: 10px;
   
   -webkit-transition: background-color 1s; -o-transition: background-color 1s; transition: background-color 1s;
}
#local {
    display: block;       
    margin: 40px auto 0;   
    max-width: 100%;         
}
.corpo {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding:40px;
    
}
.div{
    width: 280px;
    left: 15px;
    background: rgba(250, 250, 250, 0.1);
    padding: 30px 20px;
    width: 280px;
    text-align: center;
    border-radius: 8px;
}
    .div img {
      width: 70px;
      margin-bottom: 20px;
    }

footer#rodape {
     clear: both;
     border-top: 1px solid;
     padding-right: 12px;
     background-color: aliceblue;
     color: rgb(0, 0, 0);   
}
footer#rodape p{
    text-align: center;
}
